*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  background-color: var(--bg-color);
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "PPStellar-light";
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*font-face*/
@font-face {
  font-family: "PPStellar-bold";
  src: url("fonts/PPStellar-Bold.woff") format("woff"),
    url("fonts/PPStellar-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PPStellar-light";
  src: url("fonts/PPStellar-Light.woff") format("woff"),
    url("fonts/PPStellar-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PPStellar-light", sans-serif;
  color: white;
  background-color: black;
}

.homepage {
  background-image: url("../media/images/background_image.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage main {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.homepage main div {
  margin-inline: 2rem;
}

.homepage h1 {
  font-family: "PPStellar-light", sans-serif;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 5rem;
  text-align: center;
}

.homepage form {
  display: grid;
  justify-content: center;
  max-width: 35rem;
  margin-inline: auto;
  grid-template-columns: min-content min-content;
  gap: 0.75rem;
}

.homepage label {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 200;
  text-align: center;
}

.homepage input {
  width: fit-content;
  color: white;
  background-color: transparent;
  border: white solid 2px;
  padding-left: 1rem;
  padding-block: 0.5rem;
  font-size: 1rem;
  min-width: 22rem;
  grid-column: 1/2;
  justify-self: center;
}

.homepage button {
  appearance: none;
  background-color: #9d00ff;
  border: none;
  height: 3.5rem;
  display: grid;
  place-content: center;
  width: 3.5rem;
  cursor: pointer;
}

.homepage button img {
  aspect-ratio: 1/1;
  height: 2.5rem;
}

.visualizer-page {
  position: relative;
  min-height: 100vh;
}

.visualizer-page__title {
  position: absolute;
  color: white;
  font-size: 3rem;
  margin-inline: auto;
  top: 18rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  z-index: 2;
  width: max-content;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}

.visualizer-page__background {
  position: fixed;
  min-height: 100vh;
  min-width: 100vw;
  inset: 0;
}

.pop-up {
  position: absolute;
  z-index: 3;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-inline: 4rem;
  padding-top: 1rem;
  padding-bottom: 5rem;
  border: 2px white solid;
  max-width: 40rem;
  transition: 0.3s ease-in-out;
}

.pop-up--home {
  animation: loadPopup 4s ease-in-out;
}

.pop-up--hidden {
  opacity: 0;
  z-index: 1;
}

.pop-up__close-button {
  color: white;
  all: unset;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 200;
  margin-left: 100%;
  cursor: pointer;
  padding-inline: 0.5rem;
}

.pop-up__inner {
  width: fit-content;
}

.pop-up__heading {
  font-family: "PPStellar-light", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.pop-up__text {
  font-family: sans-serif;
  font-weight: 200;
}

.pop-up__list {
  margin-block: 1rem;
  padding-left: 2rem;
}

.content {
  z-index: 2;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-inline: 3rem;
  padding-bottom: 3rem;
}

.content__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.filter {
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.filter__title {
  margin-bottom: 0.25rem;
}

.filter__label {
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 0.5rem;
}

.filter__label:first-of-type {
  padding-top: 0.25rem;
  border-top: solid 2px white;
}

.buttons {
  display: flex;
  align-items: flex-end;
  gap: 1.5rem;
  max-height: 4rem;
  height: 100%;
}

.buttons > * {
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  height: 100%;
  color: white;
  background-color: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

.comparison-page {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  min-height: 100vh;
  gap: 0.5rem;
  background-color: white;
}

/** COMPARISON PAGE**/

.comparison-video__container {
  overflow: hidden;
  position: relative;
}

.comparison-video__content {
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100%;
  padding-block: 2rem 5rem;
}

.comparison-video__title {
  font-family: "PPStellar-light", sans-serif;
  font-size: 2.5rem;
  text-align: center;
}

.comparison-video__video {
  position: absolute;
  inset: 0;
  left: -42rem;
}

.comparison-video__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comparison-video__buttons > *,
.close-button {
  appearance: none;
  background-color: transparent;
  font-family: "PPStellar-light";
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
}

.comparison-video__link {
  border: 2px solid white;
  padding: 0.5rem 1.5rem;
  min-width: 7rem;
}

.close-button {
  position: absolute;
  border: 2px solid white;
  padding: 0.25rem 1rem;
  font-size: 1.5rem;
  width: fit-content;
  right: 2rem;
  bottom: 2rem;
  z-index: 4;
}

@keyframes loadPopup {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
